* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.container {
  display: grid;
  grid-template-columns: minmax(80px, 300px) 4fr;
  grid-template-rows: minmax(80px, 200px) 5fr;
  grid-template-areas:
    'section1 section2'
    'section1 section3';
}

/* SECTION 1 SECTION 1 SECTION 1 SECTION 1 
items need to be links*/

.section1 {
  background-color: cornflowerblue;
  grid-area: section1;
  max-width: 300px;
}

.section1Items {
  display: grid;
  justify-content: left;
  align-items: center;
  color: white;
  column-gap: 12px;
  font-size: 20px;
  padding-top: 15px;
  grid-template-areas:
    'dashboardSvg dashboardText'
    'blankspaceD blankspaceD'
    'homeSvg homeText'
    'profileSvg profileText'
    'messageSvg messageText'
    'historySvg historyText'
    'tasksSvg tasksText'
    'communitiesSvg communitiesText'
    'blankspace blankspace'
    'settingsSvg settingsText'
    'supportSvg supportText'
    'privacySvg privacyText'
  ;
}

@media screen and (max-width: 840px) and (min-width: 100px) {
  .container {
    grid-template-columns: 85px 4fr;
  }

  .greeting {
    display: none;
  }

  .sec1text {
    display: none;
  }

  .searchInput {
    margin-right: -100px;
  }

}

.sec1text {}

.sec1Svg {
  padding: 10px;
  margin-left: 20px;
}

.dashboardText {
  grid-area: dashboardText;
}

#blankspaceD {
  grid-area: blankspaceD;
  padding: 20px;
}

.homeText {
  grid-area: homeText;
}

.profileText {
  grid-area: profileText;
}

.messageText {
  grid-area: messageText;
}

.historyText {
  grid-area: historyText;
}

.tasksText {
  grid-area: tasksText;
}

.communitiesText {
  grid-area: communitiesText;
}

#blankspace {
  grid-area: blankspace;
  padding: 20px;

}

.settingsText {
  grid-area: settingsText;
}

.supportText {
  grid-area: supportText;
}

.privacyText {
  grid-area: privacyText;
}

.dashboardSvg {
  grid-area: dashboardSvg;
  margin-left: 20px;
}

.homeSvg {
  grid-area: homeSvg;
}

.profileSvg {
  grid-area: profileSvg;
}

.messageSvg {
  grid-area: messageSvg;
}

.historySvg {
  grid-area: historySvg;
}

.tasksSvg {
  grid-area: tasksSvg;
}

.communitiesSvg {
  grid-area: communitiesSvg;
}

.settingsSvg {
  grid-area: settingsSvg;
}

.supportSvg {
  grid-area: supportSvg;
}

.privacySvg {
  grid-area: privacySvg;
}

/* SECTION 2 SECTION 2 SECTION 2 SECTION 2*/
.section2 {
  grid-area: section2;
  background-color: white;
  z-index: 1;
  box-shadow: 0px 4px 5px lightblue;
}

.section2Columns {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas:
    'section2Col1 section2Col2';
  column-gap: 20px;
}

.section2Col1 {
  display: grid;
  grid-area: section2Col1;
  grid-template-columns: .10fr .10fr 1fr;
  grid-template-areas:
    'searchSvg searchInput searchInput'
    'odinIcon odinIcon greeting ';
  align-items: center;
  justify-content: left;

}

.col1Items {}

.searchSvg {
  grid-area: searchSvg;
  padding: 20px 10px 20px 20px;
  margin-left: 30px;
}

.searchInput {
  grid-area: searchInput;
  background: rgb(211, 211, 211, 0.5);
  border-radius: 30px;
  font-size: large;
  padding-left: 10px;
  height: 30px;

}

.odinIcon {
  grid-area: odinIcon;
  background: yellow;
  border-radius: 100%;
  padding: 3px;
  margin-left: 40px;
}

.greeting {
  grid-area: greeting;
  line-height: 30px;
  justify-self: start;
  padding-left: 10px;
}

.section2Col2 {
  display: grid;
  grid-area: section2Col2;
  grid-template-areas:
    'bellOdinName bellOdinName bellOdinName'
    'buttons buttons buttons';
}

.col2Items {
  margin-right: 60px;
}

.bellOdinName {
  display: grid;
  grid-auto-flow: column;
  grid-area: bellOdinName;
  justify-content: right;
  column-gap: 30px;
  padding-right: 10px;
}

.odinIcon2 {
  height: 35%;
  background: yellow;
  border-radius: 50%;
  padding: 3px;
  margin-top: 10px;
}

.bellSvg {
  padding: 20px 0px 20px 20px;
}

.odinName {
  height: 30px;
  padding-top: 20px;
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  grid-area: buttons;
  justify-content: right;
  column-gap: 30px;
  padding-bottom: 20px;
}

button {
  color: #fff;
  background-color: #0095ff;
  font-size: 13px;
  padding: 6px .8em;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  text-decoration: none;
  width: 90px;
  height: 35px;
  border: none;
}

/* SECTION 3 SECTION 3 SECTION 3 SECTION 3*/
.section3 {
  grid-area: section3;
  background-color: aqua;
  display: grid;
  grid-template-columns: 5fr 2fr;
  column-gap: 20px;
  grid-template-areas:
    'projectsText text1'
    'projects box1'
    'projects text2'
    'projects box2';
}

.projectsText {
  grid-area: projectsText;
  display: grid;
  justify-content: left;
  align-content: center;
  padding-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.projects {
  grid-area: projects;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-content: start;
  margin-left: 20px;
  row-gap: 25px;
  padding-bottom: 70px;
  column-gap: 20px;
}

.card {
  display: grid;
  height: 200px;
  width: minmax(350px);
  grid-template-rows: 2fr 1fr;
  align-content: stretch;
  background-color: orange;
  border-radius: 7px;
}

.card>div {
  margin-left: 10px;
  padding: 20px;
  background-color: white;
}

.cardTexts {
  border-radius: 0px 7px 0px 0px;
}

.cardTexts>p {
  font-weight: 300;
  font-size: 14px;
  padding-right: 60px;
}

.cardSvgs {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  align-items: end;
  column-gap: 20px;
  border-radius: 0px 0px 7px 0px;
}

.text1 {
  grid-area: text1;
  display: grid;
  justify-content: left;
  align-content: center;
  padding-top: 20px;
  margin-bottom: 10px;
}

.box1 {
  grid-area: box1;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto;
  margin-right: 30px;
  align-content: start;
  align-self: start;
}

.box1a {
  display: grid;
  align-self: center;
  background-color: white;
  padding: 20px;
  border-radius: 7px 7px 0px 0px;
}

.box1b {
  display: grid;
  align-self: center;
  background-color: white;
  padding: 0px 20px 20px 20px;
}

.box1c {
  display: grid;
  align-self: center;
  background-color: white;
  padding: 0px 20px 20px 20px;
  border: none;
  border-radius: 0px 0px 7px 7px;
}

.box1p1 {
  border-bottom: thin solid gray;
}

.box1>div>h5+p {
  font-weight: 300;
  font-size: 12px;
}

.text2 {
  grid-area: text2;
  display: grid;
  justify-content: left;
  align-content: center;
  padding-top: 20px;
  margin-bottom: 10px;
}

.box2 {
  grid-area: box2;
  display: grid;
  grid-auto-flow: row;
  margin-right: 30px;
  justify-content: stretch;
  height: 100%;
}

.box2all {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-content: start;
  column-gap: 30px;
  align-items: center;
  background-color: white;
  padding-left: 20px;
  padding-right: 10px;
}

.box2a {
  padding-top: 25px;
  border-radius: 7px 7px 0 0;
}

.box2b {
  padding-top: 25px;
}

.box2c {
  padding-top: 25px;
}

.box2d {
  padding-top: 25px;

}
.box2e {
  padding-top: 25px;
  border-radius: 0 0 7px 7px;
}

.sec3Texts>p {
  font-weight: 400;
  font-size: 14px;
}

.sec3Texts>p+p {
  font-weight: 300;
  font-size: 14px;
}

.sec3Svg {
  width: 130%;
  padding: 3px;
  border-radius: 50%;
}

.dogSvg {
  background-color: aliceblue;
}

.catSvg {
  background-color: yellow;
}

.alienSvg {
  background-color: lightcoral;
}

.penguinSvg {
  background-color: pink;
}
